{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      {{ partial "post/header-cover.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}"
        class="{{ with .Params.coverimage }}hasCover{{ end }}
               {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
               {{ with .Params.coverCaption }}hasCoverCaption{{ end }}">
               <section class="postShorten-group main-content-wrap">
                <div class="postShorten-wrap">
                <div class="postShorten-header">
                <h1 class="postShorten-title" itemprop="headline">
                  Welcome! 欢迎
                </h1>
                </div>
    
                <div class="row">
                 <!-- <div class="postShorten-excerpt" itemprop="articleBody">--> 
                 <div class="column" >
                     <p>Welcome to my personal website.<br>欢迎访问我的网站。<br><br>
                      I obtained my PhD in Bioinformatics from North Carolina State University in 2020. My research focuses on how ancient
                      polyploidy shaped the evolution of today's organisms.<br><br>
                     <h3><a href="/page/about/"><i class="fa fa-smile-o"></i> About me</a></h3><!-- &emsp;&emsp; -->
                     <h3><a href="/tags/portfolio/"><i class="fa fa-book"></i> Portfolio</a></h3>  
                     </p>
                  </div>
                   <div class="column" >
                      <a href="https://grad.ncsu.edu/news/2020/05/graduates-give-us-their-best-shots/?fbclid=IwAR0tPPIKXcZhNeMsARth9-HsONWJFmexRoICd8ACCqy4wAlLjzVIR89wryY"><img src="https://i.imgur.com/Q24tm9l.jpg" alt="Yue" width=100%></a>
                    </div>
                </div>
    
                </div> 
            </section>

            <section class="postShorten-group main-content-wrap">
              {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections ) }}
              {{ range $paginator.Pages }}
                {{ .Render "summary" }}
              {{ end }}
              {{ partial "pagination.html" . }}
            </section>
        {{ partial "footer.html" . }}
      </div>
    </div>
{{ partial "foot.html" . }}
